{% extends 'base.html.twig' %}

{% block title %}Produto{% endblock %}

{% block body %}
    <h1>Produto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.Nome }}</td>
            </tr>
            <tr>
                <th>Preço</th>
                <td>{{ produto.Preco }}</td>
            </tr>
        </tbody>
    </table>

    <div style="width: 100px;">
    <a class="btn btn-dark" style="width: 10vw" href="{{ path('produto_index') }}">Voltar</a>
    </div>

    <div style="width: 100px;">
    <a class="btn btn-dark my-3" style="width: 10vw" href="{{ path('produto_edit', {'id': produto.id}) }}">Editar</a>
    </div>

    {{ include('controller_produto/_delete_form.html.twig') }}
{% endblock %}
